.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.FAQ-Heading{
  /* width: 1566px;
  height: 100px;
  margin: 45px 0 26px;
  padding: 32px 1261px 32px 42px; */
  /* background-image: linear-gradient(to left, rgba(246, 246, 249, 0), #eaeaf1 0%); */

  background-image: linear-gradient(to left, rgba(246, 246, 249, 0) , #eaeaf1 );
  /* padding: 32px 1261px 32px 42px; */
  padding : 1.2rem 1rem;
  /* padding : 32px 42px; */

}

